* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
/* 容器 */
#container {
}
/* 表头container */
.columns {
    display: flex;
}
/* 表头 */
.column {
    background: #f99;
    flex: 1;
    text-align: center;
    border: 1px solid #99f;
    box-sizing: border-box;
}
/* 表格table */
.tableBody {
    display: flex;
    flex-direction: column;   
}
/* 单元格的container */
.cellCon{
    display: flex;
}
/* 单个单元格 */
.cell {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    /* flex: ; */
}
/* 弹窗 */
.model-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.model {
    width: 500px;
}
.model-header {
    height: 30px;
    background: #99f;
}
.model-body {
    height:100px;
    background: #8ff;
    box-sizing: border-box;
    padding: 40px;
}
.model-footer {
    height: 40px;
    background: #99f;
    line-height: 40px;
}
.model-footer button {
    margin: 0 10px;
    padding: 5px;
    border: 0;
    background: #fff;
    border-radius: 5%;
}